footer {
    text-align: center;
    position:absolute;
    bottom:0;
    width:99%;
    height:60px;   /* Height of the footer */
}

body {
    background-image: url('party.jpg');
    background-size: 100%;
}